// 颜色定义规范
$color-theme = #c60023
$color-text = #666
$color-border = #ccc
$color-title = #222
$color-tip = #ccc


//字体定义规范
$font-size-small = 12px
$font-size-normal = 14px
$font-size-normal-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
